n8n/flows/FGC THN - eBas Register.json
{
  "updatedAt": "2026-01-31T01:45:26.060Z",
  "createdAt": "2026-01-30T14:37:09.952Z",
  "id": "O7qbXOsWUrs3vDDk",
  "name": "FGC THN - eBas Register",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ebas/register",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-ebas-register",
      "name": "Webhook - eBas Register",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        112,
        208
      ],
      "webhookId": "ebas-register"
    },
    {
      "parameters": {
        "jsCode": "// Normalize personnummer to 12 digits and preserve tag/slug for Airtable update\nconst body = $json.body ?? $json;\nlet pnrRaw = body.personnummer ?? null;\n\nif (!pnrRaw) {\n  throw new Error(\"Personnummer krävs för registrering\");\n}\n\nlet pnr = pnrRaw.toString().replace(/\\D/g, '');\n\nif (pnr.length < 10) {\n  throw new Error(\"Ogiltigt personnummer-format\");\n}\n\n// Convert 10-digit to 12-digit\nif (pnr.length === 10) {\n  const yy = parseInt(pnr.slice(0, 2), 10);\n  const prefix = yy > 30 ? \"19\" : \"20\";\n  pnr = prefix + pnr;\n}\n\nconst email = body.email || '';\nconst phone = (body.telephone || body.telefon || '').replace(/[\\s-]/g, '');\nconst nick = body.nick || body.tag || null;\nconst discord = body.discord || null;\n\n// Preserve tag and slug for Airtable update after eBas registration\nconst tag = (body.tag || '').toLowerCase().trim();\nconst slug = body.slug || '';\n\n// Get today's date for renewed field\nconst today = new Date().toISOString().split('T')[0];\n\nreturn [{ json: { \n  pnr: pnr,\n  email: email,\n  phone: phone,\n  nick: nick,\n  discord: discord,\n  renewed: today,\n  // Pass through for Airtable update\n  tag: tag,\n  slug: slug\n}}];"
      },
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        208
      ],
      "id": "normalize-input"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ebas.sverok.se/apis/submit_member_with_lookup.json",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"api_key\": \"{{ $env.EBAS_API_KEY }}\",\n  \"member\": {\n    \"socialsecuritynumber\": \"{{ $json.pnr }}\",\n    \"renewed\": \"{{ $json.renewed }}\",\n    \"firstname\": \"\",\n    \"lastname\": \"\",\n    \"street\": \"\",\n    \"zip_code_id\": \"\",\n    \"city\": \"\",\n    \"country_id\": \"1\",\n    \"email\": \"{{ $json.email }}\",\n    \"phone1\": \"{{ $json.phone }}\",\n    \"co\": [],\n    \"member_nick\": {{ $json.nick ? '\"' + $json.nick + '\"' : 'null' }},\n    \"discord_user_id\": {{ $json.discord ? '\"' + $json.discord + '\"' : 'null' }}\n  }\n}",
        "options": {}
      },
      "name": "Call eBas API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        208
      ],
      "id": "call-ebas-api"
    },
    {
      "parameters": {
        "jsCode": "// Parse eBas submit_member_with_lookup response\n// Preserve tag and slug from input for Airtable update\nconst response = $json;\nconst input = $('Normalize Input').first().json;\nconst tag = input.tag || '';\nconst slug = input.slug || '';\n\nif (response.stored_member === true && response.request_result === 'success') {\n  return [{ \n    json: { \n      success: true,\n      registered: true,\n      message: \"Medlem registrerad i Sverok\",\n      tag: tag,\n      slug: slug\n    } \n  }];\n}\n\n// Check for errors\nif (response.member_errors) {\n  const errors = Object.entries(response.member_errors)\n    .map(([field, msgs]) => field + ': ' + msgs.join(', '))\n    .join('; ');\n  return [{ \n    json: { \n      success: false,\n      error: true,\n      message: errors || \"Kunde inte registrera medlem\",\n      details: response.member_errors,\n      tag: tag,\n      slug: slug\n    } \n  }];\n}\n\n// Generic error\nreturn [{ \n  json: { \n    success: false,\n    error: true,\n    message: response.request_result || \"Okänt fel\",\n    raw_response: response,\n    tag: tag,\n    slug: slug\n  } \n}];"
      },
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        208
      ],
      "id": "parse-response"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1312,
        208
      ],
      "id": "if-success"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $env.AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "mode": "id",
          "value": "active_event_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "member": true
          }
        },
        "options": {}
      },
      "name": "Update Member Status",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1760,
        112
      ],
      "id": "update-member",
      "credentials": {
        "airtableTokenApi": {
          "id": "4pOFRJlGet8aXQMA",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/notify/update",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"member_update\",\n  \"tag\": \"{{ $('Parse Response').first().json.tag }}\",\n  \"member\": true\n}",
        "options": {}
      },
      "name": "Notify SSE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        112
      ],
      "id": "notify-sse",
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Return success response (already set by Parse Response)\nconst parsed = $('Parse Response').first().json;\nreturn [{ json: parsed }];"
      },
      "name": "Return Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        112
      ],
      "id": "return-success"
    },
    {
      "parameters": {
        "jsCode": "// Return error/failure response\nconst parsed = $('Parse Response').first().json;\nreturn [{ json: parsed }];"
      },
      "name": "Return Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        320
      ],
      "id": "return-error"
    },
    {
      "parameters": {
        "content": "## eBas Register Workflow\n\n**Purpose:** Register a new member in Sverok via eBas API and update Airtable.\n\n**When used:** When a player wants to become a Sverok member during check-in.\n\n**Input:**\n```json\n{\n  \"personnummer\": \"YYYYMMDDXXXX\",\n  \"email\": \"player@example.com\",\n  \"telephone\": \"0701234567\",\n  \"tag\": \"PlayerTag\",\n  \"slug\": \"tournament-slug\"\n}\n```\n\n**Flow:**\n1. Normalize personnummer and input data\n2. Call eBas API to register member\n3. If success: Find player in Airtable and update member=true\n4. Notify dashboard via SSE\n5. Return success/error response\n\n**API Endpoint:** submit_member_with_lookup.json\n- Uses SPAR lookup to auto-fill name/address from personnummer\n- Requires valid Swedish personnummer",
        "height": 636,
        "width": 500,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -288,
        -448
      ],
      "typeVersion": 1,
      "id": "note-ebas-reg-overview",
      "name": "Overview"
    },
    {
      "parameters": {
        "content": "## Input Normalization\n\nPrepares data for eBas API:\n- Normalizes personnummer to 12 digits\n- Cleans phone number (removes spaces/dashes)\n- Sets renewal date to today\n- Preserves tag+slug for Airtable update\n\n**Fields sent to eBas:**\n- socialsecuritynumber (required)\n- renewed (today's date)\n- email, phone1, member_nick, discord_user_id",
        "height": 316,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        -128
      ],
      "typeVersion": 1,
      "id": "note-ebas-reg-input",
      "name": "Input"
    },
    {
      "parameters": {
        "content": "## Airtable Update\n\n**On success:** Find player by tag+slug and set member=true\n\n**SSE notification:** Broadcasts member_update event to dashboard\n\n**Note:** Airtable update is fire-and-forget - errors don't block the response",
        "height": 220,
        "width": 340,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        -128
      ],
      "typeVersion": 1,
      "id": "note-airtable-update",
      "name": "Airtable Update"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYoqvkJ41wBFPuD",
          "mode": "list",
          "cachedResultName": "FGC CHECKIN",
          "cachedResultUrl": "https://airtable.com/appYoqvkJ41wBFPuD"
        },
        "table": {
          "__rl": true,
          "value": "tblYyWIhth0s91ARH",
          "mode": "list",
          "cachedResultName": "active_event_data",
          "cachedResultUrl": "https://airtable.com/appYoqvkJ41wBFPuD/tblYyWIhth0s91ARH"
        },
        "filterByFormula": "=AND(LOWER)({tag})=LOWER('{{ $json.tag }}'), {event_slug}='{{ $json.slug }}",
        "options": {}
      },
      "name": "Find Player in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1536,
        112
      ],
      "id": "find-player",
      "credentials": {
        "airtableTokenApi": {
          "id": "4pOFRJlGet8aXQMA",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Webhook - eBas Register": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Call eBas API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call eBas API": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "If Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Success": {
      "main": [
        [
          {
            "node": "Find Player in Airtable",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Member Status": {
      "main": [
        [
          {
            "node": "Notify SSE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify SSE": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Player in Airtable": {
      "main": [
        [
          {
            "node": "Update Member Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "instanceId": "862b58fb4544c8e896cb018ad266be57051f49e4a4e880744d5213db94f44524"
  },
  "pinData": {},
  "versionId": "9661eebd-6e0e-4521-b2f2-f55b429f310a",
  "activeVersionId": null,
  "versionCounter": 43,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-30T14:37:09.966Z",
      "createdAt": "2026-01-30T14:37:09.966Z",
      "role": "workflow:owner",
      "workflowId": "O7qbXOsWUrs3vDDk",
      "projectId": "KLSXsAxOoJYteZRt",
      "project": {
        "updatedAt": "2026-01-30T14:27:20.444Z",
        "createdAt": "2026-01-30T13:36:18.336Z",
        "id": "KLSXsAxOoJYteZRt",
        "name": "viktor molina <viktor.molina@live.se>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "6833b6c3-90f7-479e-98d9-9c2d39599238",
        "projectRelations": [
          {
            "updatedAt": "2026-01-30T13:36:18.337Z",
            "createdAt": "2026-01-30T13:36:18.337Z",
            "userId": "6833b6c3-90f7-479e-98d9-9c2d39599238",
            "projectId": "KLSXsAxOoJYteZRt",
            "user": {
              "updatedAt": "2026-02-03T13:32:21.000Z",
              "createdAt": "2026-01-30T13:36:16.343Z",
              "id": "6833b6c3-90f7-479e-98d9-9c2d39599238",
              "email": "viktor.molina@live.se",
              "firstName": "viktor",
              "lastName": "molina",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-01-30T14:28:30.347Z",
                "personalization_survey_n8n_version": "1.122.5",
                "companyIndustryExtended": [
                  "other"
                ],
                "otherCompanyIndustryExtended": "events",
                "companySize": "<20",
                "companyType": "other",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "userActivated": true,
                "firstSuccessfulWorkflowId": "Dxs5S4sU1hkfZYrc",
                "userActivatedAt": 1769819577837
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-03",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}