n8n/flows/FGC THN - Checkin Orchestrator v4.json
{
  "name": "FGC THN - Checkin Orchestrator v4",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "checkin/validate",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "410b4800-babb-4a5f-9ca5-6dee7be8861d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1216,
        -16
      ],
      "webhookId": "checkin-validate-v3"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "mode": "id",
          "value": "appYoqvkJ41wBFPuD"
        },
        "table": {
          "mode": "name",
          "value": "settings"
        },
        "filterByFormula": "{is_active}=TRUE()",
        "options": {}
      },
      "id": "76888177-fb9d-4f18-90f5-528c64af6a3b",
      "name": "Load Settings",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        -1008,
        -16
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "NUWgRsjpAINAhs0I",
          "name": "CHECKIN AIRTABLE LATEST"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get webhook data\nconst webhookRaw = $('Webhook').first().json;\nconst webhookData = webhookRaw.body || webhookRaw;\n\n// Handle Airtable data structure\n// Sometimes it's flat, sometimes it's in .fields\nconst rec = $json || {};\nconst settings = rec.fields || rec; // <-- HÄR ÄR ÄNDRINGEN\n\nconst slug = settings.active_event_slug || null;\nconst pnr = webhookData.personnummer || null;\n\nconst tag = (webhookData.tag || '')\n  .trim()\n  .toLowerCase();\n\nconst name = webhookData.namn || webhookData.name || null;\nconst telefon = webhookData.telefon || webhookData.telephone || null;\nconst email = webhookData.email || null;\n\n// Configurable requirements - default ON (unless explicitly false)\nconst require_payment = settings.require_payment !== false;\nconst require_membership = settings.require_membership !== false;\nconst require_startgg = settings.require_startgg !== false;\n\nreturn [\n  {\n    json: {\n      slug,\n      personnummer: pnr,\n      tag,\n      name,\n      telefon,\n      email,\n      _runEbas: !!pnr,\n      _runStartgg: !!tag && !!slug,\n      require_payment,\n      require_membership,\n      require_startgg,\n    },\n  },\n];\n"
      },
      "id": "c8f30200-3a44-4434-8e9c-c5780b42b203",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -864,
        -16
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://n8n:5678/webhook/ebas/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({personnummer: $('Parse Input').first().json.personnummer}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b3d65537-84cf-4883-9536-96aa64143576",
      "name": "eBas Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://n8n:5678/webhook/startgg/check",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({tag: $('Parse Input').first().json.tag, slug: $('Parse Input').first().json.slug}) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "5dcfa026-97c1-418a-9470-51c81802d1a5",
      "name": "Start.gg Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -224,
        240
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "52da404b-4dc0-4d6e-ac1d-4d018cd6152c",
      "name": "Wait for Both",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -16,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get Parse Input data\nconst parseInputItems = $('Parse Input').all();\nconst ctx = parseInputItems.length > 0 ? parseInputItems[0].json : {};\n\n// Get eBas result\nlet ebas = { isMember: false };\ntry {\n  const ebasItems = $('eBas Check').all();\n  if (ebasItems.length > 0 && ebasItems[0].json && !ebasItems[0].json.error) {\n    ebas = ebasItems[0].json;\n  }\n} catch (e) { /* treat as not member */ }\n\n// Get Start.gg result\nlet sgg = { isRegistered: false, events: [] };\ntry {\n  const sggItems = $('Start.gg Check').all();\n  if (sggItems.length > 0 && sggItems[0].json && !sggItems[0].json.error) {\n    sgg = sggItems[0].json;\n  }\n} catch (e) { /* treat as not registered */ }\n\n// Generate UUID\nconst uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n  const r = Math.random() * 16 | 0;\n  return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n});\n\n// Check results\nconst memberResult = ebas.isMember === true || !ctx._runEbas;\nconst startggResult = sgg.isRegistered === true || !ctx._runStartgg;\n\n// Requirements from settings\nconst requirePayment = ctx.require_payment;\nconst requireMembership = ctx.require_membership;\nconst requireStartgg = ctx.require_startgg;\n\n// Status logic\nconst paymentOk = !requirePayment;\nconst memberOk = !requireMembership || memberResult;\nconst startggOk = !requireStartgg || startggResult;\nconst isReady = paymentOk && memberOk && startggOk;\nconst status = isReady ? 'Ready' : 'Pending';\n\n// Missing requirements\nconst missing = [];\nif (requirePayment) missing.push('Payment');\nif (requireMembership && !memberResult) missing.push('Membership');\nif (requireStartgg && !startggResult) missing.push('Start.gg');\n\nconst events = sgg.events || [];\n\nreturn [{ json: {\n  uuid, status, payment_valid: false, missing,\n  member: memberResult, startgg: startggResult, is_guest: !startggResult,\n  events, name: ctx.name, tag: ctx.tag, slug: ctx.slug,\n  telefon: ctx.telefon, email: ctx.email\n}}];"
      },
      "id": "74999b03-44f5-4469-ab47-14690ab38a6b",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        176
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "mode": "id",
          "value": "appYoqvkJ41wBFPuD"
        },
        "table": {
          "mode": "name",
          "value": "active_event_data"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UUID": "={{ $json.uuid }}",
            "name": "={{ $json.name }}",
            "tag": "={{ $json.tag }}",
            "telephone": "={{ $json.telefon }}",
            "email": "={{ $json.email }}",
            "member": "={{ $json.member }}",
            "startgg": "={{ $json.startgg }}",
            "payment_valid": "={{ $json.payment_valid }}",
            "status": "={{ $json.status }}",
            "event_slug": "={{ $json.slug }}",
            "tournament_games_registered": "={{ $json.events }}",
            "is_guest": "={{ $json.is_guest }}"
          }
        },
        "options": {
          "typecast": true
        }
      },
      "id": "233c60dd-ef9a-4754-b3d4-ebcce961ddb0",
      "name": "Save to Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [
        384,
        176
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "NUWgRsjpAINAhs0I",
          "name": "CHECKIN AIRTABLE LATEST"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if ($json.already_checked_in) {\n  return [{ json: $json }];\n}\ntry {\n  const results = $('Merge Results').first().json;\n  return [{ json: results }];\n} catch (e) {\n  return [{ json: $json }];\n}"
      },
      "id": "7e2b12d7-ab58-482d-afa1-fba22ecb3341",
      "name": "Return Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        176
      ]
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/active_event_data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "=AND(LOWER({tag})=LOWER('{{ $json.tag }}'), {event_slug}='{{ $json.slug }}')"
            },
            {
              "name": "maxRecords",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b0d9731-6afe-492f-b398-240ab2412824",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -672,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "duplicate-check",
              "leftValue": "={{ $json.records.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "88540985-7dfb-41ea-9163-ee714fdc9350",
      "name": "IF Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -448,
        -16
      ]
    },
    {
      "parameters": {
        "jsCode": "const existing = $json.records[0].fields;\nconst ctx = $('Parse Input').first().json;\n\nreturn [{\n  json: {\n    already_checked_in: true,\n    status: existing.status || 'Pending',\n    payment_valid: existing.payment_valid || false,\n    member: existing.member || false,\n    startgg: existing.startgg || false,\n    name: existing.name || ctx.name,\n    tag: existing.tag || ctx.tag,\n    message: 'Already checked in'\n  }\n}];"
      },
      "id": "e8b0d3b4-51e4-4c6c-a6e3-51b948bcc922",
      "name": "Already Checked In",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        -160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/notify/checkin",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name, tag: $json.tag, status: $json.status }) }}",
        "options": {}
      },
      "id": "45b29b97-d6c0-4ddc-8918-76121dec7cb4",
      "name": "Notify Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        176
      ]
    },
    {
      "parameters": {
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/active_event_data",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterByFormula",
              "value": "=AND(LOWER({tag})=LOWER('{{ $('Parse Input').first().json.tag }}'), {event_slug}='{{ $('Parse Input').first().json.slug }}')"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4091e328-e5fc-4e5e-9870-668bfbb784db",
      "name": "Check Post-Save Duplicates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const records = $json.records || [];\nconst savedRecordId = $('Save to Airtable').first().json.id;\nconst savedData = $('Save to Airtable').first().json.fields || $('Merge Results').first().json || {};\n\nif (records.length > 1) {\n  const toDelete = records.filter(r => r.id !== savedRecordId).map(r => r.id);\n  return [{ json: { ...savedData, _duplicateIds: toDelete } }];\n}\nreturn [{ json: { ...savedData, _duplicateIds: [] } }];"
      },
      "id": "f95214e2-bc58-4256-a6b8-1bae1271d5b0",
      "name": "Cleanup Duplicates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-dups",
              "leftValue": "={{ $json._duplicateIds.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "14afb58f-0b64-483e-a55f-42e9055bc3ac",
      "name": "IF Has Duplicates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        176
      ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://api.airtable.com/v0/{{ $env.AIRTABLE_BASE_ID }}/active_event_data?records[]={{ $json._duplicateIds.join(\"&records[]=\") }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.AIRTABLE_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "33fc60fc-a34f-4923-8a95-bde557ea5063",
      "name": "Delete Duplicates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Load Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Settings": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "eBas Check": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start.gg Check": {
      "main": [
        [
          {
            "node": "Wait for Both",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for Both": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Save to Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Airtable": {
      "main": [
        [
          {
            "node": "Check Post-Save Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "IF Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Duplicate": {
      "main": [
        [
          {
            "node": "Already Checked In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "eBas Check",
            "type": "main",
            "index": 0
          },
          {
            "node": "Start.gg Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Checked In": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Dashboard": {
      "main": [
        [
          {
            "node": "Return Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Post-Save Duplicates": {
      "main": [
        [
          {
            "node": "Cleanup Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cleanup Duplicates": {
      "main": [
        [
          {
            "node": "IF Has Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Has Duplicates": {
      "main": [
        [
          {
            "node": "Delete Duplicates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Duplicates": {
      "main": [
        [
          {
            "node": "Notify Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Stockholm",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "39ac2890-4ba6-473f-aa0a-9e13394dc4b7",
  "meta": {
    "instanceId": "862b58fb4544c8e896cb018ad266be57051f49e4a4e880744d5213db94f44524"
  },
  "id": "sYxXJa7g4G2UszGA",
  "tags": []
}